<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" >
    
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Anurag Giddalur. It uses data from <a href="https://www.mapbox.com/"> mapbox.com</a> and <a href="https://openweathermap.org/">openweathermap.org</a></p>
    <img class="potrait" src="/img/anime.jpg">
    </div>
    {{>footer}}
</body>
</html>